.order-info{
    display: flex;
    border-radius: 6px;
    background: #ff7b78;
    justify-content: space-between;
    margin-top: 13px;
}

.order-info button{
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.order-info i{
    margin-right: 20px;
}