.menu-item{
    background: #78a85c;
    display: flex;
    width: 44%;
    padding: 5px;
    border-radius: 8px;
    border: 4px solid #000000;
    margin-bottom: 10px;
}
.menu-item:hover{
    background: #c9d77e;
}
.item-icon{
    width: 40%;
}
.svg-inline--fa{
    font-size: 65px;
}