body{
  background: #60324d;
}
.App {
  max-width: 900px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.Order{
  width: 40%;
  height: 900px;
  margin-right: 10px;
  background: #ff5d4d;
  padding: 10px;
  border-radius: 8px;
}

.Menu{
  width: 60%;
  background: #fff686;
  padding: 10px;
  border-radius: 8px;
}

.menu-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-title{
  text-transform: uppercase;
}
